@keyframes shrink {
    0% {
        color: green;
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
        color: grey;
    }
}

@keyframes grow {
    0% {
        transform: scale(0.8);
        color: grey;
    }

    100% {
        transform: scale(1);
        color: green;
    }
}

.animate {
    transform: translate3d(0,0,0);
    perspective: 1000;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: center left;
  
}

.animate--shrink {
    animation-duration: 1s;
    animation-name: shrink;
    animation-timing-function: 'linear';
}

.animate--grow {
    animation-duration: 1s;
    animation-timing-function: 'linear';
    animation-name: grow;
}