// GRAY
$cod-gray:        #0c0c0c;
$delta:           #a5a5a2;
$dusty-gray:      #999999;
$emperor:         #555555;
$gray:            #8e8e8e;
$mercury:         #E6E6E6;
$mine-shaft:      #222222;
$scorpion:        #5A5A5A;
$silver-chalice:  #A0A0A0;
$silver-sand:     #B3B8B8;

// RED
$tosca:           #8a4245;

// BLUE
$aqua-haze:       #F0F7F7;