@import 'mixins';
@import 'fonts';
@import 'colors';
@import 'elements';
@import 'header';
@import 'footer';

img{
  max-width: 100%;
}

body{
  background-color: $mine-shaft;

  &.overflowHidden{
    overflow: hidden;
  }
}

html, body {
  height: 100%;
  margin: 0; padding: 0;  /* to avoid scrollbars */
}

.PageWrapper {
  display: flex;  /* use the flex model */
  flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100%;
  overflow: hidden;
}

.PageContent{
  margin-top: 76px;
	flex: 1;

  @include MQ(S){
    margin-top: 86px;
  }
}

.Banner{
  background-color: black;
  position: relative;
  margin-bottom: 0 !important;

  @include MQ(M){
    height: 490px;
  }

  &::after{
    background-color: white;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 65%;
  }

  &__item{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px !important;
    position: relative;

    @include MQ(S){
      height: 450px !important;
    }

    @include MQ(M){
      height: 490px !important;
    }
  }

  &__content{
    top: 20%;
    left: 0;
    position: absolute;
    margin: 0 auto;
    right: 0;
    max-width: 80%;

    h1{
      color: white;
      @include bebas(6);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;      
      opacity: .9;
      position: relative;
      margin: 0;

      &::before{
        background-color: white;
        content: "";
        display: inline-block;
        height: 4px;
        left: 0;
        position: absolute;
        top: -20px;
        width: 70px;

        @include MQ(M){
          top: -35px;
        }
      }

      @include MQ(S){
        font-size: 48px;
        letter-spacing: 11px;
        text-align: left;
      }

      @include MQ(M){
        font-size: 57px;
        margin: 0;
      }

      span{
        display: block;
        color: $gray;
      }
    }

    @include MQ(S){
      @include center(y);
    }
  }

  &--internal{
    @extend .Banner;

    @include MQ(M){
      float: left;      
      width: calc(100% - 126px);
    }
  }

  // slick dots

  .slick-dots{
    @include center(y);

    right: 15px;
    width: auto;

    > li{
      display: block;
      margin: 8px 0;

      button{
        @include transition(opacity .3s ease);

        border-radius: 50%;
        border: 4px solid white;
        height: 15px;
        opacity: .4;
        padding: 0;
        width: 15px;

        &::before{
          display: none;
        }
      }

      &.slick-active{
        button{
          opacity: 1;
        }
      }
      
    }
  }

  .slick-count{    
    bottom: 20px;
    color: white;
    @include bebas;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    left: 0;
    margin: 0 auto;
    max-width: 80%;
    position: absolute;
    right: 0;
    width: 100%;

    span{
      position: relative;
      color: #747171;

      &::after{
        @include center(y);
        background-color: #747171;
        content: "";
        display: block;
        height: 3px;
        position: absolute;
        right: -100px;
        width: 80px;
      }
    }

    

    @include MQ(S){
      font-size: 24px;
    }
  }
}

.BannerNav{
  @include MQ(M){
    float: left;
    height: 490px !important;
    width: 126px;

    .Arrow__button--prev,
    .Arrow__button--next{
      @include transform(rotate(90deg));
      left: 0;
      margin: 0 auto;
      right: 0;
    }

    .Arrow__button--prev{
      top: 50px;
    }

    .Arrow__button--next{
      bottom: 50px;
      top: initial;
    }
  }

  &__item{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    cursor: pointer;
    position: relative;
    height: 126px !important;
    

    @include MQ(M){
      height: calc(490px / 4) !important;
      width: 126px;
    }

    &::after{
      content: "";
      border: 4px solid white;
      opacity: .4;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

  }

  .slick-slide{
    border: 0;
  }


}

.BannerWrapper{
  @include clearfix;
}

.Categoria{
  background: $mine-shaft;
  padding: 45px 0;
  border-bottom: 1px solid $silver-chalice;

  &::before{
    background: rgba(#3b3b3b, 1);
    content: "";
    display: block;
    height: calc(100% - 90px);
    position: absolute;
    top: 45px;
    width: 100%;
  }

  &::after{
    background: url(../img/pattern.png) no-repeat 0 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .slick-slide{
    height: auto;
  }

  .slick-list{
    z-index: 1;
  }

  &__item{
    position: relative;
    text-align: center;

    h2{
      @include transition(all .45s ease);

      bottom: 16%;
      color: $scorpion;
      @include bebas;
      font-size: 20px;
      left: 0;
      margin: 0;
      position: absolute;
      right: 0;
      text-transform: uppercase;
    }

    img{      
      @include transform(scale(.7));
      @include transition(all .5s ease);
      transform-origin: center center;
      filter: grayscale(1);
    }

    div{
      &::before{
        @include center;
        @include transition(opacity .4s ease);

        border: 5px solid $tosca;
        content: "";
        display: block;
        height: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
        width: 65%;
      }
    }

    &.slick-current{
      img{
        @include transform(scale(1) translateY(-20px));
        filter: grayscale(0);
      }

      h2{
        color: $mercury;
        bottom: 15%;
        font-size: 22px;
      }

      div{
        &::before{
          opacity: .67;
        }
      }
    }
  }

  &--top{
    @extend .Categoria;

    padding: 110px 0 0;

    &::before{
      background: rgba(#3b3b3b, 1);
      content: "";
      display: block;
      height: calc(100% - 110px);
      position: absolute;
      top: 110px;
      width: 100%;
    }
  }
}


.Busca{
  background-color: $mine-shaft;
  padding: 25px 0;
  text-align: center;

  &__filtro{

     @include MQ(S){
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    div{
      display: flex;
      flex-direction: row;
      align-items: center;

      @include MQ(S){
        flex: 2;
      }
    }

    span{
      @include bebas;
      display: block;
      color: $silver-chalice;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;

      @include MQ(S){
        flex: 1;
        text-align: right;
        padding-right: 30px;
        margin-bottom: 0;
      }
    }

    button{
      @include bebas(1);
      @include transition(all .3s ease);

      flex: 1;
      background: transparent;
      border: 2px solid $silver-chalice;
      color: $silver-chalice;
      font-size: 14px;
      font-weight: bold;
      padding: 5px 0;
      margin-right: 15px;
      width: calc(33% - 30px); 

      &:last-child{
        margin-right: 0;
      }

      &:hover{
        border-color: $tosca;
        color: $tosca;
      }

      &:focus{
        outline: 0;
        border-color: darken($tosca, 15%);
      }

      &.is-active{
        border-color: $tosca;
        color: $tosca;
      }
    }
  }

  @include MQ(S){
    .Form__control--search{
      float: right;
      margin: 0;
      max-width: 320px;
      width: 100%;
    }
  }
}



// GRID

.Grid{
  @include clearfix;

  &__item{
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 320px;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::after{
      @include transition(all .3s ease);

      background: rgba($mine-shaft, .4);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:hover{
      .Grid__buttons a{
        @include transform(translateY(0));
        opacity: 1;
      }

      .Grid__title{
        @include transform(translateY(30px));
        opacity: 1;
        visibility: visible;
      }

      .Grid__buttons{
        @include transform(translateY(0));
        opacity: 1;
        visibility: visible;
      }
    }

    &--xs{
      @extend .Grid__item;

      display: none;

      @include MQ(M){
        display: inline-block;
      }
    }

    @include MQ(S){
      width: 50%;
    }

    @include MQ(M){
      width: 25%;
    }
  }

  &__title{
    @include transition(all .3s ease-in-out);
    @include transform(translateY(-40px));
    @include bebas(3);

    color: white;
    font-size: 14px;
    font-weight: bold;
    left: 20px;
    line-height: 1.2;
    margin: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 100%;
    z-index: 1;

    small{
      display: block;
      font-size: 10px;
      color: $silver-sand;
    }

    h4{
      margin: 0;
    }

    @include MQ(M){
      font-size: 26px;

      small{
        font-size: 18px;
      }
    }
  }

  &__buttons{
    @include transform(translateY(50px));
    @include transition(all .4s ease);

    background: $mine-shaft;
    transition-delay: .15s;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 15px 10px;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 100%;
    z-index: 1;

    @include MQ(M){
      padding: 12px 5px;
    }

    > a {
      @include transition(all .5s ease);
      @include transform(translateY(40px));

      transition-delay: .2s;

      color: $silver-chalice;
      display: inline-block;
      float: left;
      font-family: "Bebas Neue";
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 1.6px;
      line-height: 1;
      opacity: 0;
      margin: 0 4%;
      padding: 10px 10px 7px;
      position: relative;
      text-decoration: none;
      width: 42%;

      &::after{
        @include transition(all .3s ease);

        content: "";
        border: 2px solid $tosca;
        opacity: 0;
        width: 100%;
        height: 70%;
        position: absolute;
        left: 0;
        top: 0;
      }

      &:hover{
        color: $tosca;

        &::after{
          opacity: 1;
          height: 100%;
        }
      }

      @include MQ(M){
        font-size: 16px;
      }
    }
  }
}

.Ver{
  padding: 25px 0;

  .u-button{
    margin: 0 auto;
  }
}

.Info{
  display: flex;
  flex-direction: column;

  @include MQ(M){
    flex-direction: row;
  }

  &__item{    
    background-size: cover;
    color: $silver-sand;
    height: 315px;
    position: relative;

    @include MQ(M){
      flex: 1;
    }

    &::after{
      background: rgba(#010101, .7);
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    h3{
      @include bebas(6);
      font-weight: bold;
      font-size: 26px;
      text-align: center;
      margin: 0 0 30px;
      top: 100px;
    }

    .u-button{
      bottom: 90px;
      font-size: 14px;
      margin: 0 auto;
      max-width: 206px;
    }

    h3,
    .u-button{
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      z-index: 1;
    }

    &:nth-child(1){
      background-image: url(../img/avalie.jpg);
    }

    &:nth-child(2){
      background-image: url(../img/negociacao.jpg);
    }

    &:nth-child(3){
      background-image: url(../img/fale-conosco.jpg);
    }
  }
}

.Parceiro{
  padding: 65px 0 90px;
  background-color: $mine-shaft;

  &::before{
    background: rgba(#3b3b3b, 1);
    content: "";
    display: block;
    height: calc(100% - 155px);
    position: absolute;
    top: 65px;
    width: 100%;
  }

  &::after{
    background: url(../img/pattern.png) no-repeat 0 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .slick-slide{
    height: auto;
  }

  .slick-list{
    z-index: 1;
  }

  &__item{
    padding: 45px 0;

    img{
      display: block;
      margin: 0 auto;
    }
  }
}


.Detail{
  //background-color: $fuscous-gray;

  h2{
    color: $mercury;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 0 0 30px;
    position: relative;
    font-family: $titillium;
    line-height: 1.2;
    text-transform: uppercase;

    &::after{
      content: "";
      height: 1px;
      width: 70%;
      background-color: #666667;
      bottom: -10px;
      position: absolute;
      display: block;
    }
  }

  ul{
    font-size: 14px;
    letter-spacing: 1px;
    list-style: none;
    margin: 0;
    padding: 0;

    @include MQ(S){
      font-size: 16px;
    }
  }

  li{
    color: $mercury;
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 1.6;
    font-family: $titillium;

    span{
      color: $dusty-gray;
      font-weight: normal;
    }
  }

  > div{
    padding: 30px 15px;

    @include MQ(M){
      padding: 70px 50px;
    }
  }

  input[type="text"],
	input[type="email"],
	input[type="tel"],
	textarea{
    border-color: $mercury;
    font-family: $titillium;
  }

  .u-scrollbar{
    max-height: 400px;
    position: relative;

    @include MQ(M){
      max-height: 700px;
    }
  }

  .u-button{
    border-color: $mercury;
    font-family: $titillium;

    &:hover{
      color: $tosca;
		  border-color: $tosca;
    }
  }

  &__right{
    background-color: $scorpion;
    position: relative;
    
    @include MQ(M){
      .Form{
        @include center;
        position: absolute;
        max-width: calc(100% - 200px);
      }
    }
  }

  @include MQ(M){
    display: flex;
    @include clearfix;

    &__left,
    &__right{
      max-height: 790px;
    }

    &__left{
      width: 55%;
    }

    &__right{
      width: 45%;
    }

    .u-scrollbar{
      height: calc(790px - 148px);
    }
  }
}


.Map{
  position: relative;
  height: 490px;
  
  &__title{
    color: $silver-sand;
    @include bebas(4);
    font-size: 24px;
    text-align: center;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -55px;
    font-weight: bold;
  }
}


#map{
  width: 100%;
  height: 490px;
}